
<div> 
      <span>Name: </span> 
      <%= @phone.name %> <p>
</div>

<div>   
        <span>Brand: </span>
        <%= @phone.brand %><p>
</div>

<div>
        <span>Year Released: </span> 
        <%= @phone.year_released %><p>
</div>

<div>
        <span>Camera: </span> 
        <%= @phone.camera %><p>
</div>

<div>
        <span>Mega Pixels: </span> 
        <%= @phone.mpixels %><p>
</div>

<div>
        <span>Internal Storage(in GB): </span> 
        <%= @phone.internalS %><p>
</div>

<p>
        <span>Number of sim slots: </span>
        <%= @phone.num_of_sim_slots %>
</p>

<p>
        <span>Size of screen(in inches): </span>
        <%= @phone.size_of_screen %>
</p>

<p>
        <span>Operating system: </span>
        <%= @phone.operating_system %>
</p>

<p>
        <span>Number in Stock: </span>
        <%= @phone.num_in_stock %>
</p>

<a href="/phones"> Back to Main Page </a>
